fastapi
uvicorn
streamlit
pyarrow==15.0.2

langchain
langgraph

langchain-openai
langchain-google-genai

openai

pydantic
pydantic-settings

python-dotenv

python-pptx

pymupdf

tiktoken

pytest

httpx
python-multipart
